body {
  background-color: #f6f7f9;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
/* Base-mobile-styles */
.navbar {
  position: relative;
  width: 100%;
  max-width: 375px;
  background-color: #ffffff;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-sizing: border-box;
}

.navbar__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar__logo {
  width: 108px;
  height: 28px;
}

.user-profile__img {
  position: absolute;
  top: 32px;
  right: 24px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.navbar__search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.navbar__search-left {
  width: 100%;
  max-width: 263px;
  height: 48px;
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid #c3d4e966;
  border-radius: 10px;
  padding-left: 48px;
  box-sizing: border-box;
}

.search-bar__input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 14px;
  color: #596780;
  background: transparent;
  outline: none;
}

.search-bar__icon {
  position: absolute;
  left: 16px;
  width: 100%;
  max-width: 20px;
  height: 20px;
}

.navbar__search-right {
  width: 100%;
  max-width: 48px;
  height: 48px;
  background-color: #ffffff;
  border: 1px solid #c3d4e966;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar__filter-icon {
  width: 24px;
  height: 24px;
}

/* Icons hidden area */
.navbar__icons {
  position: relative;
}

.icons__hidden {
  display: none;
  flex-direction: column;
  gap: 20px;
  background: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 100;
}

.icons__hidden.active {
  display: flex;
}

.icons__circle {
  width: 100%;
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.icons__circle img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.icons__notification-container::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  width: 9px;
  height: 9px;
  background-color: red;
  border-radius: 50%;
  border: 1.5px solid white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

/* Promo Section */
.promo {
  display: flex;
  justify-content: center;
  padding: 0px 24px 32px 24px;

  flex-wrap: nowrap;
}

.promo__card {
  width: 100%;
  max-width: 375px;
  height: 232px;
  background: radial-gradient(circle at top left, #54a6ff, #3563e9);
  border-radius: 10px;
  position: relative;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.promo__content {
  width: 240px;
  max-width: 375;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.promo__header {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  vertical-align: middle;
  margin: 0;
}

.promo__title {
  width: 216px;
  height: 38px;
  font-size: 12px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0%;
  color: #ffffff;
  margin: 0;
}

.promo__button-wrapper {
  margin-top: 4px;
}

.promo__button {
  width: 100%;
  max-width: 128px;
  height: 44px;
  border-radius: 4px;
  background-color: #3563e9;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.promo__button:hover {
  background-color: #1f4fdd;
}

.promo__image {
  position: absolute;
  bottom: 0;
  left: 53px;
  width: 100%;
  max-width: 196px;
  height: 56px;
  object-fit: contain;
  pointer-events: none;
}
.promo__card--desktop {
  display: none;
}

/* pickndrop-container */
.pickndrop-container {
  position: relative;
  width: 100%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
  padding-left: 24px;
}

.pickup-box,
.dropoff-box {
  padding: 16px;
  border-radius: 10px;
  width: 327;
  max-width: 582px;
  height: 120px;
  background-color: #ffffff;
  box-sizing: border-box;
}
.radio-box {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 24px;
}

.radio-box input[type="radio"] {
  appearance: none;

  width: 100%;
  max-width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #d9d9d9;
  border: 4px solid white;
  box-shadow: 0 0 0 2px #4f75ff;
  cursor: pointer;
  position: relative;
}

.radio-box input[type="radio"]:checked {
  background-color: #3563e9;
}

.section-title {
  font-size: 14px;
  font-weight: 600;
  color: #1a202c;
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 150%;
  margin: 0;
}

.content-box {
  display: flex;
  flex-direction: row;
  row-gap: 24px;
  column-gap: 40px;
  margin-top: 24px;
  width: 295px;
  max-width: 960px;
  height: 44px;
  overflow: hidden;
}
.field {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.field:not(:first-child)::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0px;
  bottom: 0;
  width: 1px;
  background-color: #e3e8f2;
}

.field label {
  font-size: 12px;
  color: #1a202c;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.2;
  margin-bottom: 4px;
  padding-left: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.field select,
.field input {
  width: 100%;
  height: 36px;

  font-size: 12px;
  color: #90a3bf;
  border: none;
  justify-content: left;
}
.swap-btn {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #3563e9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;

  border: 1px solid #e4e4e4;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.swap-btn img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

/* popular-cars */
.popular-cars {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  padding-left: 24px;
  padding-top: 20px;
  height: auto;
}

.popular-cars__header {
  width: 90%;
  max-width: 375px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.popular-cars__title {
  font-size: 16px;
  color: #90a3bf;
  margin: 0;
}

.popular-cars__view-all {
  font-size: 14px;
  color: #3563e9;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.popular-cars__grid {
  width: 100%;
  max-width: 1312px;
  height: 306px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 32px;
  scroll-snap-type: x mandatory;
  padding-bottom: 16px;
}

.car-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 286px;
  scroll-snap-align: start;
  flex-shrink: 0;
  overflow: hidden;
}

.car-card__header {
  height: 44px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: start;
  margin-bottom: 32px;
}
.car-card__top {
  width: 96px;
  height: 44px;
}
.car-card__header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: flex-start;
}

.car-card__model {
  font-size: 16px;
  font-weight: 600;
  color: #1a202c;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.car-card__type {
  font-size: 12px;
  color: #90a3bf;
  margin-top: 4px;
}

.car-card__image-container {
  height: auto;
  padding: 0 30px 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-card__image-container img {
  max-width: 100%;
  max-height: 160px;
  object-fit: contain;
}

.car-card__specs {
  display: flex;
  justify-content: space-between;
  padding: 4px 12px;
  gap: 8px;
  flex-shrink: 0;
}

.specs__capacity,
.specs_gasoline,
.specs_car {
  width: 70px;
  height: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.car-card__specs img {
  width: 14px;
  height: 14px;
}

.car-card__specs p {
  color: #90a3bf;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
}
.car-card__pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 12px 16px;
  font-size: 14px;
  color: #1a1a1a;
  flex-shrink: 0;
}
.car-card__current {
  width: 88px;
  height: 40px;
}

.car-card__heart {
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.car-card__heart img {
  width: 24px;
  height: 24px;
}

/* Recommendation Cars Section */
.recomend-cars {
  max-width: 375px;
  margin: 31px 0px;
  font-family: Arial, sans-serif;
  padding-left: 24px;
  height: 286px;
  padding-top: 20px;
}

.recomend-cars__header {
  width: 327px;
  height: 20px;

  margin-bottom: 20px;
  margin-top: 31px;
  gap: 4px;
}

.recomend-cars__title {
  font-size: 14px;
  color: #90a3bf;
  margin: 0;
  width: 196px;
  height: auto;
}

.recomend-cars__view-all {
  font-size: 12px;
  color: #3563e9;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  width: 48px;
  height: auto;
}

.recomend-cars__view-all:hover {
  color: skyblue;
  text-decoration: underline;
}

.recomend-cars__grid {
  width: auto;
  height: 286px;
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  padding-bottom: 16px;
}

.recomend-cars__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-top: 2rem;
  width: 100%;
}

.car-card__main {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 327px;
  height: 240px;
}

.car-card__main:hover {
  transform: translateY(-5px);
}

.car-card__headerr {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: flex-start;
}

.car-card__modelr {
  font-size: 16px;
  font-weight: 600;
  color: #1a202c;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.car-card__typer {
  font-size: 12px;
  color: #90a3bf;
  margin-top: 4px;
}

.car-card__heartr {
  background: none;
  border: none;
  cursor: pointer;
}

.car-card__heartr img {
  width: 16px;
  height: 16px;
}

.car-card__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  gap: 43px;
}

.car-card__image-containerr {
  padding: 0 0 16px;
  flex-shrink: 0;
}

.car-card__imager {
  width: 166px;
  height: 64px;
  object-fit: cover;
  transition: transform 0.3s ease;
  padding-left: 0px;
}

.car-card__main:hover .car-card__imager {
  transform: scale(1.05);
}

.car-card__specsr {
  width: 70px;
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-bottom: 32px;
  padding-right: 16px;
}

.car-card__specsr img {
  width: 14px;
  height: 14px;
}

.car-card__specsr p {
  color: #90a3bf;
  font-size: 12px;
}

.specs__capacityr,
.specs_gasoliner,
.specs_carr {
  width: 70px;
  height: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.car-card__pricingr {
  display: flex;
  justify-content: space-between;
  width: 295px;
  height: auto;
  align-items: center;

  padding: 0 16px 16px;
}

.car-card__current-price {
  width: 88px;
  height: 20px;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#car-card__day {
  font-size: 12px;
  color: #90a3bf;
}

.car-card__original-price {
  width: 88px;
  height: 16px;
  font-size: 12px;
  color: #90a3bf;
  text-decoration: line-through;
  padding: 0;
  margin: 0;
}

.car-card__button {
  background-color: #3563e9;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 8px 16px;
  cursor: pointer;
}

.car-card__button:hover {
  background-color: #2d52c9;
}

/* show-more-button */
.car-show {
  max-width: 223px;
  height: 36px;
  display: flex;
  margin-top: 1900px;
  margin-left: 128px;
  margin-bottom: 48px;
}

.car-show__more {
  width: 120px;
  height: 36px;
  background-color: #3563e9;
  font-size: 12px;
  font-weight: 600px;
  font-family: "Plus Jakarta Sans", sans-serif;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  line-height: 150%;
}
.car-show-text {
  position: absolute;
  right: 16px;
  color: #90a3bf;
  font-size: 12px;
  font-family: "Plus Jakarta Sans", sans-serif;
  white-space: nowrap;
}

/* bottom-nav */
.bottom-nav {
  width: 100%;
  padding: 60px 20px 30px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.bottom-nav__container {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  column-gap: 65px;
  row-gap: 48px;
}

.bottom-nav__top {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.bottom-nav__logo {
  width: 108px;
  height: 28px;
}

.bottom-nav__text {
  width: 216px;
  height: 48px;
  font-weight: 500;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: -1%;
  color: rgba(19, 19, 19, 0.6);
  margin: 0;
}

.bottom-nav__links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.bottom-nav__column {
  width: 142px;
  height: 192px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bottom-nav__column:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.bottom-nav__column:nth-child(3) {
  grid-column: 2;
  grid-row: 1;
}
.bottom-nav__column:nth-child(2) {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.bottom-nav__heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -2%;
  color: #1a202c;
  margin: 0;
}

.bottom-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bottom-nav__list a {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #13131399;
  text-decoration: none;
}
.bottom-nav__list a:hover {
  color: #131313;
}

.bottom-nav__bottom {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 32px;
  padding-top: 40px;
  border-top: 1px solid #13131329;
}

.bottom-nav__right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 327px;
  font-size: 12px;
  color: #1a202c;
}

.bottom-nav__left {
  font-size: 12px;
}

.bottom-nav__left a,
.bottom-nav__right a {
  text-decoration: none;
  font-weight: 500;
  color: #1a202c;
  transition: color 0.3s;
}

.bottom-nav__left a:hover,
.bottom-nav__right a:hover {
  color: #131313;
}

@media (min-width: 376px) and (max-width: 620px) {
  .navbar {
    width: 100%;
    max-width: 620px;
  }
  .navbar__search-left {
    width: 80%;
    max-width: 620px;
  }
  .search-bar__input {
    font-size: 16px;
  }
  .promo {
    width: 90%;
    max-width: 620px;

    padding-left: 32px;
  }

  .promo__card {
    width: 100%;
    max-width: 620px;
    height: 262px;
    justify-content: flex-start;
  }
  .promo__title {
    width: 300px;
    max-width: 620px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0%;
    color: #ffffff;
    margin: 0;
    padding-bottom: 16px;
  }
  .promo__image {
    position: absolute;
    bottom: 0;
    left: 130px;
    width: 60%;
    max-width: 406px;
    height: 116px;
    object-fit: contain;
    pointer-events: none;
  }

  .pickndrop-container {
    max-width: 620px;
    padding: 32px 24px;
    gap: 24px;
  }

  .pickup-box,
  .dropoff-box {
    width: 90%;
    max-width: 620px;
    height: 140px;
    padding-right: 24px;
  }
  .content-box {
    width: 460px;
    height: 120px;
  }

  .swap-btn {
    width: 64px;
    height: 64px;
  }

  .popular-cars {
    max-width: 100%;
    padding: 0 16px;
  }

  .popular-cars__header {
    max-width: 620px;
    height: 48px;
    margin-bottom: 24px;
  }

  .popular-cars__grid {
    gap: 16px;
    height: auto;
  }

  .car-card {
    width: 240px;
    height: 280px;
  }

  .car-card__image-container {
    padding: 0 20px 16px 20px;
  }

  .car-card__model {
    font-size: 14px;
  }

  .car-card__current {
    width: 80px;
  }
  .recomend-cars {
    width: 100%;
    max-width: 620px;
    padding-left: 32px;
    padding-top: 36px;
  }
  .car-show {
    max-width: 223px;
    height: 36px;
    display: flex;
  }

  .car-show__more {
    width: 120px;
    height: 36px;
    background-color: #3563e9;
    font-size: 12px;
    font-weight: 600px;
    font-family: "Plus Jakarta Sans", sans-serif;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    line-height: 150%;
  }
  .car-show-text {
    position: absolute;
    right: 116px;
    color: #90a3bf;
    font-size: 14px;
    font-family: "Plus Jakarta Sans", sans-serif;
    white-space: nowrap;
  }
  .bottom-nav__text {
    width: 280px;
    height: 48px;
    font-size: 16px;
  }
  .bottom-nav__right {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 620px;
    font-size: 16px;
    color: #1a202c;
    font-weight: 600;
  }
  .bottom-nav__left {
    color: #131313;
    font-weight: 16px;
    font-weight: 600;
  }
}
@media (min-width: 621px) and (max-width: 960px) {
  .navbar {
    width: 100%;
    max-width: 960px;
  }
  .navbar__search-left {
    width: 80%;
    max-width: 960px;
  }
  .search-bar__input {
    font-size: 16px;
  }
  .navbar__logo {
    width: 148px;
    height: 44px;
  }

  .user-profile__img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }
  .promo {
    width: 90%;
    max-width: 960px;
    padding-left: 32px;
  }

  .promo__card--desktop {
    display: block;
  }

  .promo__card {
    width: 100%;
    max-width: 960px;
    height: 262px;
    justify-content: flex-start;
  }
  .promo__title {
    width: 300px;
    max-width: 960px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0%;
    color: #ffffff;
    margin: 0;
    padding-bottom: 16px;
  }
  .promo__image {
    position: absolute;
    bottom: 0;
    left: 100px;
    width: 60%;
    max-width: 960px;
    height: 116px;
    object-fit: contain;
    pointer-events: none;
  }
  .promo__header2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.02em;
    vertical-align: middle;
    margin: 0;
  }
  .promo__card--desktop {
    display: none;
  }

  .pickndrop-container {
    max-width: 960px;
    padding: 32px 24px;
    gap: 24px;
  }

  .pickup-box,
  .dropoff-box {
    width: 90%;
    max-width: 960px;
    height: 140px;
    padding-right: 24px;
  }
  .content-box {
    width: 800px;
    height: 130px;
  }

  .swap-btn {
    width: 64px;
    height: 64px;
  }

  .popular-cars {
    max-width: 100%;
    padding: 0 24px;
  }
  .popular-cars__header {
    max-width: 960px;
    height: 52px;
    margin-bottom: 28px;
  }

  .popular-cars__grid {
    gap: 24px;
    height: auto;
  }

  .car-card {
    width: 240px;
    height: 286px;
  }

  .car-card__image-container {
    padding: 0 24px 18px 24px;
  }

  .car-card__model {
    font-size: 15px;
  }

  .recomend-cars__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
    margin-top: 2rem;
    width: 100%;
    height: auto;
  }

  .recomend-cars {
    width: 90%;
    max-width: 960px;
    padding-left: 32px;
    padding-top: 32px;
  }
  .car-show {
    width: 80%;
    max-width: 734px;
    height: 44px;
    display: flex;
    margin-top: 950px;
    margin-left: 300px;
    margin-bottom: 48px;
  }

  .car-show__more {
    width: 156px;
    height: auto;
    font-size: 16px;
  }
  .car-show-text {
    font-size: 14px;
  }

  .bottom-nav__text {
    width: 280px;
    height: 48px;
    font-size: 16px;
  }
  .bottom-nav__links {
    display: flex;
  }
  .bottom-nav__right {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 960px;
    font-size: 16px;
    color: #1a202c;
    font-weight: 600;
  }
  .bottom-nav__left {
    color: #131313;
    font-weight: 16px;
    font-weight: 600;
  }
}
@media (min-width: 961px) and (max-width: 1200px) {
  .navbar {
    width: 100%;
    max-width: 1200px;
  }

  .navbar__search-left {
    width: 80%;
    max-width: 1200px;
  }

  .search-bar__input {
    font-size: 16px;
  }

  .navbar__logo {
    width: 148px;
    height: 44px;
  }

  .user-profile__img {
    width: 44px;
    height: 44px;
  }

  .promo {
    width: 90%;
    max-width: 1200px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 32px;
  }

  .promo__card--desktop {
    display: block;
  }

  .promo__card {
    width: 100%;
    max-width: 1200px;
    height: 262px;
    justify-content: flex-start;
  }

  .promo__title {
    width: 300px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    margin: 0;
    padding-bottom: 16px;
    color: #ffffff;
  }

  .promo__image {
    position: absolute;
    bottom: 0;
    left: 100px;
    width: 60%;
    height: 116px;
    object-fit: contain;
    pointer-events: none;
  }

  .promo__header2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.02em;
    margin: 0;
  }

  .pickndrop-container {
    max-width: 1200px;
    padding: 32px 24px;
    gap: 24px;
  }

  .pickup-box,
  .dropoff-box {
    width: 90%;
    max-width: 1200px;
    height: 130px;
    padding-right: 24px;
  }
  .content-box {
    width: 912px;
    height: 130px;
  }

  .swap-btn {
    width: 64px;
    height: 64px;
  }

  .popular-cars {
    max-width: 100%;
    padding: 0 32px;
  }
  .popular-cars__header {
    max-width: 1200px;
    height: 56px;
    margin-bottom: 32px;
  }

  .popular-cars__grid {
    gap: 28px;
  }

  .car-card {
    width: 240px;
    height: 286px;
  }

  .car-card__image-container {
    padding: 0 30px 20px 30px;
  }

  .recomend-cars__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
    margin-top: 2rem;
    width: 100%;
  }

  .car-card__main {
    width: 304px;
    height: 388px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
  }

  .car-card__flex {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 0px;
  }
  .car-card__specsr {
    width: 256px;
    height: 24px;
    display: flex;
    flex-direction: row;
  }
  .car-card__heartr {
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    display: flex;
  }

  .car-card__heartr img {
    width: 24px;
    height: 24px;
  }
  .car-card__image-containerr {
    height: 100px;
    overflow: hidden;
    padding: 0px 30px 44px 30px;
  }

  .car-card__imager {
    width: auto;
    max-width: 288px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.3s ease;
    padding: 0;
  }

  .car-show {
    width: 80%;
    max-width: 734px;
    height: 44px;
    display: flex;
    margin: 1200px 0 48px 300px;
  }

  .car-show__more {
    width: 156px;
    font-size: 16px;
  }

  .car-show-text {
    font-size: 14px;
  }

  .car-card__pricingr {
    max-width: 256px;
    width: auto;
    height: 48px;
  }

  .bottom-nav__text {
    width: 280px;
    height: 48px;
    font-size: 16px;
  }

  .bottom-nav__links {
    display: flex;
  }

  .bottom-nav__right {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    font-size: 16px;
    color: #1a202c;
    font-weight: 600;
  }

  .bottom-nav__left {
    color: #131313;
    font-size: 16px;
    font-weight: 600;
  }
}
@media (min-width: 1201px) and (max-width: 2000px) {
  .navbar {
    width: auto;
    max-width: 1440px;
    height: 124px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 20px 0px;
  }
  .navbar__logo {
    width: 148px;
    height: 44px;
    padding-left: 60px;
  }
  .navbar__search-bar {
    width: 100%;
    gap: 0;
  }
  .navbar__search-left {
    width: 100%;
    max-width: 492px;
    left: -200px;
  }
  .navbar__search-right {
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 0;
  }

  .navbar__right-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 20px;
    position: relative;
    padding-left: 100px;
  }

  .navbar__icons {
    display: flex;
    align-items: center;
    position: static;
  }

  .icons__hidden {
    display: flex !important;
    flex-direction: row;
    gap: 16px;
    position: static !important;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
  }

  .icons__circle {
    box-shadow: none;
    border: none;
    background-color: transparent;
  }

  .user-profile__img {
    position: static;
    width: 40px;
    height: 40px;
  }

  .icons__notification-container::after {
    top: -4px;
    right: -4px;
  }

  .promo {
    width: 90%;
    max-width: 1440px;
    padding-left: 64px;
    gap: 32px;
  }

  .promo__card--desktop {
    display: block;
  }

  .promo__card {
    width: 100%;
    max-width: 1440px;
    height: 360px;
    justify-content: flex-start;
  }

  .promo__title {
    width: 300px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    margin: 0;
    padding-bottom: 16px;
    color: #ffffff;
  }

  .promo__image {
    position: absolute;
    bottom: 0;
    left: 100px;
    width: 60%;
    height: 116px;
    object-fit: contain;
    pointer-events: none;
  }
  .promo__content {
    width: 284px;
    max-width: 284px;
    height: 160px;
    row-gap: 16px;
  }
  .promo__title {
    padding-top: 32px;
    font-size: 16px;
    letter-spacing: -2%;
    color: #ffffff;
  }

  .promo__header {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -3%;
    margin: 0;
    width: auto;
    max-width: 284px;
    height: 48px;
  }
  .promo__button {
    max-width: 120px;
  }
  .promo__card img {
    max-width: 340px;
    height: 116px;
    left: 137px;
  }

  .pickndrop-container {
    position: relative;
    width: 90%;
    max-width: 1440px;
    height: 132px;
    padding: 32px 64px 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 auto;
  }
  .pickup-box,
  .dropoff-box {
    padding: 16px;
    width: 100%;
    max-width: 582px;
    height: 136px;
    background-color: #ffffff;
    box-sizing: border-box;
  }

  .swap-btn {
    width: 64px;
    height: 64px;
  }
  /* Container for the whole section */
  .popular-cars {
    max-width: 1312px;
    margin: 0 auto;
    padding: 0;
  }
  .popular-cars__header {
    max-width: 1440px;
    height: 60px;
    margin-bottom: 36px;
  }

  .popular-cars__grid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    height: 388px;
    gap: 32px;
    padding-bottom: 16px;
  }

  .car-card {
    width: 304px;
    height: 388px;
    border-radius: 10px;
    scroll-snap-align: start;
    flex-shrink: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  .car-card__image-container {
    margin-bottom: 64px;
  }

  .car-card__image-container img {
    max-height: 180px;
  }

  .car-card__pricing {
    padding: 16px;
  }

  .car-card__model {
    font-size: 18px;
  }

  .car-card__type {
    font-size: 14px;
  }
  .car-card__specs {
    gap: 16px;
    margin-bottom: 24px;
    padding: 0 16px 0;
  }

  .car-card__specs p {
    font-size: 13px;
  }

  .car-card__current {
    width: auto;
    height: auto;
  }

  .car-card__current-price {
    font-size: 16px;
  }

  .car-card__original-price {
    font-size: 13px;
  }

  .recomend-cars__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin-top: 2rem;
    width: 100%;
    max-width: 1312px;
    height: 872px;
  }
  .recomend-cars {
    width: 100%;
    max-width: 1312px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 20px 24px;
    margin-bottom: 128px;
  }

  .car-card__main {
    width: 304px;
    height: 388px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
  }

  .car-card__flex {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 32px;
  }
  .car-card__specsr {
    width: 256px;
    height: 24px;
    display: flex;
    flex-direction: row;
  }
  .car-card__heartr {
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    display: flex;
  }

  .car-card__heartr img {
    width: 24px;
    height: 24px;
  }
  .car-card__image-containerr {
    height: 100px;
    overflow: hidden;
    padding: 0px 30px 44px 30px;
  }

  .car-card__imager {
    width: auto;
    max-width: 288px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.3s ease;
    padding: 0;
  }

  .car-show {
    width: 80%;
    max-width: 734px;
    height: 44px;
    display: flex;
    margin: 800px 0 48px 300px;
    justify-content: center;
  }

  .car-show__more {
    width: 156px;
    font-size: 16px;
  }

  .car-show-text {
    font-size: 14px;
  }

  .car-card__pricingr {
    max-width: 256px;
    width: auto;
    height: 48px;
  }
  /* buttomnav */
  .bottom-nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .bottom-nav__logo {
    width: 148px;
    height: 44px;
  }
  .bottom-nav__text {
    width: 292px;
    height: 48px;
    font-size: 16px;
    color: #13131399;
  }

  .bottom-nav__links {
    width: 576px;
    height: 244px;
    display: flex;
    gap: 60px;
  }
  .bottom-nav__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bottom-nav__right {
    width: 100%;
    max-width: 348px;
    font-size: 16px;
    color: #1a202c;
    font-weight: 600;
    display: flex;
    justify-content: start;
    gap: 60px;
  }

  .bottom-nav__left {
    color: #131313;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    max-width: 292px;
    height: 24px;
    line-height: 150%;
    letter-spacing: -2%;
  }
}
